# Step 0: Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# import this to stop opensearch-py-ml from yelling every time a DataFrame connection made
import warnings
warnings.filterwarnings('ignore')

In [3]:
# imports to demonstrate DataFrame support
import pandas as pd
import numpy as np
import opensearch_py_ml as oml
from opensearchpy import OpenSearch

In [4]:
# imports to demonstrate SageMaker integration
import sagemaker
from sagemaker import RealTimePredictor
from opensearchpy import helpers
import boto3
import json

In [5]:
# imports to demonstrate ml-commons integration
from opensearch_py_ml.ml_commons_integration import MLCommonClient

# Step 1: Setup clients

In [6]:
CLUSTER_URL = 'http://localhost:9200'

In [7]:
def get_os_client(cluster_url = CLUSTER_URL,
                  username='admin',
                  password='admin'):
    '''
    Get OpenSearch client
    :param cluster_url: cluster URL like https://ml-te-netwo-1s12ba42br23v-ff1736fa7db98ff2.elb.us-west-2.amazonaws.com:443
    :return: OpenSearch client
    '''
    client = OpenSearch(
        hosts=[cluster_url],
        http_auth=(username, password),
        verify_certs=False
    )
    return client

In [8]:
client = get_os_client()
ml_client = MLCommonClient(client)

to do SageMaker integration, make sure your boto3 Session has the appropriate credentials.

In [9]:
sess = boto3.Session()
smclient = sess.client('sagemaker')

In [10]:
smclient.list_endpoints()

{'Endpoints': [{'EndpointName': 'jumpstart-dft-lgb-classification-model',
   'EndpointArn': 'arn:aws:sagemaker:us-west-2:793040377150:endpoint/jumpstart-dft-lgb-classification-model',
   'CreationTime': datetime.datetime(2022, 7, 15, 11, 43, 50, 310000, tzinfo=tzlocal()),
   'LastModifiedTime': datetime.datetime(2022, 7, 15, 11, 46, 31, 115000, tzinfo=tzlocal()),
   'EndpointStatus': 'InService'}],
 'ResponseMetadata': {'RequestId': '79410960-d4a3-45e6-b00b-5d147511131a',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '79410960-d4a3-45e6-b00b-5d147511131a',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '274',
   'date': 'Fri, 09 Sep 2022 22:17:31 GMT'},
  'RetryAttempts': 0}}

# Step 2: Showcase DataFrame support

opensearch-py-ml Dataframes function similarly to pandas Dataframes, but reside entirely in the OpenSearch cluster and are refreshed with each call.

In [11]:
ecommerce_oml = oml.DataFrame(client, 'opensearch_dashboards_sample_data_ecommerce')

In [12]:
ecommerce_oml.head()

,category,currency,customer_birth_date,customer_first_name,customer_full_name,customer_gender,customer_id,customer_last_name,customer_phone,day_of_week,...,products.taxful_price,products.taxless_price,products.unit_discount_amount,sku,taxful_total_price,taxless_total_price,total_quantity,total_unique_products,type,user
0,[Men's Clothing],EUR,NaT,Eddie,Eddie Underwood,MALE,38,Underwood,,Monday,...,"[11.99, 24.99]","[11.99, 24.99]","[0, 0]","[ZO0549605496, ZO0299602996]",36.98,36.98,2,2,order,eddie
1,[Women's Clothing],EUR,NaT,Mary,Mary Bailey,FEMALE,20,Bailey,,Sunday,...,"[24.99, 28.99]","[24.99, 28.99]","[0, 0]","[ZO0489604896, ZO0185501855]",53.98,53.98,2,2,order,mary
2,"[Women's Shoes, Women's Clothing]",EUR,NaT,Gwen,Gwen Butler,FEMALE,26,Butler,,Sunday,...,"[99.99, 99.99]","[99.99, 99.99]","[0, 0]","[ZO0374603746, ZO0272202722]",199.98,199.98,2,2,order,gwen
3,"[Women's Shoes, Women's Clothing]",EUR,NaT,Diane,Diane Chandler,FEMALE,22,Chandler,,Sunday,...,"[74.99, 99.99]","[74.99, 99.99]","[0, 0]","[ZO0360303603, ZO0272002720]",174.98,174.98,2,2,order,diane
4,"[Men's Clothing, Men's Accessories]",EUR,NaT,Eddie,Eddie Weber,MALE,38,Weber,,Monday,...,"[59.99, 20.99]","[59.99, 20.99]","[0, 0]","[ZO0542505425, ZO0601306013]",80.98,80.98,2,2,order,eddie

Just like in pandas, the output of a DataFrame method is another DataFrame, allowing for methods to be chained:

In [13]:
ecommerce_oml.filter(regex='produ.', axis=1)[['products.base_price', 'products.category']].head()

  products.base_price                     products.category
0      [11.99, 24.99]      [Men's Clothing, Men's Clothing]
1      [24.99, 28.99]  [Women's Clothing, Women's Clothing]
2      [99.99, 99.99]     [Women's Shoes, Women's Clothing]
3      [74.99, 99.99]     [Women's Shoes, Women's Clothing]
4      [59.99, 20.99]   [Men's Clothing, Men's Accessories]

[5 rows x 2 columns]

In [14]:
ecommerce_oml.groupby(['day_of_week', 'day_of_week_i', 'type']).mean()

,,,products.base_price,products.base_unit_price,products.discount_amount,products.discount_percentage,products.min_price,products.price,products.product_id,products.quantity,products.tax_amount,products.taxful_price,products.taxless_price,products.unit_discount_amount,taxful_total_price,taxless_total_price,total_quantity,total_unique_products
day_of_week,day_of_week_i,type,,,,,,,,,,,,,,,,
Friday,4,order,34.665464,34.665464,0.074866,0.118835,17.296444,34.590598,16526.074272,1.000000,0.0,34.590598,34.590598,0.074866,75.600248,75.600248,2.185714,2.185714
Monday,0,order,35.963039,35.073007,0.037975,0.063291,17.419775,35.925064,16824.312500,1.003165,0.0,35.925064,35.925064,0.037975,78.421901,78.421901,2.189983,2.183074
Saturday,5,order,34.357962,34.357962,0.064331,0.101911,17.137746,34.293631,16746.339490,1.000000,0.0,34.293631,34.293631,0.064331,73.148506,73.148506,2.133152,2.133152
Sunday,6,order,35.278721,35.278721,0.144828,0.229885,17.529815,35.133893,16823.595402,1.000000,0.0,35.133893,35.133893,0.144828,74.669203,74.669203,2.125407,2.125407
Thursday,3,order,34.680409,34.680409,0.127316,0.203228,17.300117,34.553093,16895.474597,1.000000,0.0,34.553093,34.553093,0.127316,74.584878,74.584878,2.158710,2.158710
Tuesday,1,order,34.335716,34.335716,0.151492,0.244836,17.174665,34.184224,16484.140015,1.000000,0.0,34.184224,34.184224,0.151492,73.359492,73.359492,2.146141,2.146141
Wednesday,2,order,35.193203,35.193203,0.111284,0.171206,17.576341,35.081919,16470.031907,1.000000,0.0,35.081919,35.081919,0.111284,76.143869,76.143869,2.170608,2.170608

unlike pandas DataFrames, opensearch-py-ml does not allow for assignment in DataFrames (since the data itself is being pulled from OpenSearch).

In [15]:
ecommerce_oml['taxless_total_price'] = ecommerce_oml['taxless_total_price'] * 1.15

TypeError: 'DataFrame' object does not support item assignment

In [16]:
ecommerce_pd = ecommerce_oml.head().to_pandas()

In [17]:
ecommerce_pd['taxless_total_price'] = ecommerce_pd['taxless_total_price'] * 1.15

In [18]:
ecommerce_pd['taxless_total_price']

0     42.527
1     62.077
2    229.977
3    201.227
4     93.127
Name: taxless_total_price, dtype: float64

# Step 3: Showcase SageMaker Support

We'll showcase SageMaker integration by uploading an `opensearch-py-ml` DataFrame to a deployed SageMaker endpoint. The particular problem we'll try to solve is the classic MNIST digit classification problem, where a 28x28 grayscale image is sent to our ML algorithm, and the algorithm spits out a 10-long vector representing the probability the image represents a certain digit (0-9).

![title](mnist-3.0.1.png)

The model we've deployed is a LightGBM model for digit classification: https://lightgbm.readthedocs.io/en/v3.3.2/

In [19]:
# step 1: preprocess the data we'd like to send to endpoint in pandas
newline, bold, unbold = '\n', '\033[1m', '\033[0m'

# read the data
test_data = pd.read_csv('truncated_data.csv', index_col='Unnamed: 0')
test_data.columns = ['Target'] + [f"Feature_{i}" for i in range(1, test_data.shape[1])]

num_examples, num_columns = test_data.shape
print(f"{bold}The test dataset contains {num_examples} examples and {num_columns} columns.{unbold}\n")

# prepare the ground truth target and predicting features to send into the endpoint.
ground_truth_label, features = test_data.iloc[:, :1], test_data.iloc[:, 1:]

print(f"{bold}The first 5 observations of the data: {unbold} \n")
test_data.head(5)

The test dataset contains 100 examples and 785 columns.

The first 5 observations of the data:

,Target,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_775,Feature_776,Feature_777,Feature_778,Feature_779,Feature_780,Feature_781,Feature_782,Feature_783,Feature_784
0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

uploading pandas DataFrames as OpenSearch indices are as simple as a one-line call:

In [20]:
oml.pandas_to_opensearch(test_data, client, 'sagemaker_demo_data')

Empty DataFrame
Columns: [Feature_1, Feature_10, Feature_100, Feature_101, Feature_102, Feature_103, Feature_104, Feature_105, Feature_106, Feature_107, Feature_108, Feature_109, Feature_11, Feature_110, Feature_111, Feature_112, Feature_113, Feature_114, Feature_115, Feature_116, Feature_117, Feature_118, Feature_119, Feature_12, Feature_120, Feature_121, Feature_122, Feature_123, Feature_124, Feature_125, Feature_126, Feature_127, Feature_128, Feature_129, Feature_13, Feature_130, Feature_131, Feature_132, Feature_133, Feature_134, Feature_135, Feature_136, Feature_137, Feature_138, Feature_139, Feature_14, Feature_140, Feature_141, Feature_142, Feature_143, Feature_144, Feature_145, Feature_146, Feature_147, Feature_148, Feature_149, Feature_15, Feature_150, Feature_151, Feature_152, Feature_153, Feature_154, Feature_155, Feature_156, Feature_157, Feature_158, Feature_159, Feature_16, Feature_160, Feature_161, Feature_162, Feature_163, Feature_164, Feature_165, Feature_166, Feature_167, Feature_168, Feature_169, Feature_17, Feature_170, Feature_171, Feature_172, Feature_173, Feature_174, Feature_175, Feature_176, Feature_177, Feature_178, Feature_179, Feature_18, Feature_180, Feature_181, Feature_182, Feature_183, Feature_184, Feature_185, Feature_186, Feature_187, Feature_188, Feature_189, ...]
Index: []

[100 rows x 785 columns]

In [21]:
oml_data = oml.DataFrame(client, 'sagemaker_demo_data')

In [22]:
oml_data.head()

,Feature_1,Feature_10,Feature_100,Feature_101,Feature_102,Feature_103,Feature_104,Feature_105,Feature_106,Feature_107,...,Feature_91,Feature_92,Feature_93,Feature_94,Feature_95,Feature_96,Feature_97,Feature_98,Feature_99,Target
0,0.0,0.0,0.585938,0.363281,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.453125,0.488281,0.667969,0.996094,0.996094,2.0
1,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
2,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,4.0
4,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0

In [29]:
oml_data.columns

Index(['Feature_1', 'Feature_10', 'Feature_100', 'Feature_101', 'Feature_102',
       'Feature_103', 'Feature_104', 'Feature_105', 'Feature_106',
       'Feature_107',
       ...
       'Feature_91', 'Feature_92', 'Feature_93', 'Feature_94', 'Feature_95',
       'Feature_96', 'Feature_97', 'Feature_98', 'Feature_99', 'Target'],
      dtype='object', length=785)

note that because individual fields in OpenSearch are saved as mappings, which have no explicit order, we need to specify a column order when uploading data to our SageMaker endpoint.

In [23]:
indices, preds = oml.make_sagemaker_prediction('jumpstart-dft-lgb-classification-model', 
                                     oml_data,
                                     'Target',
                                     column_order = list(test_data.drop(columns='Target').columns),
                                     chunksize=1000)

In [24]:
preds = [json.loads(item)['probabilities'] for item in preds]
preds = np.concatenate([np.array(item) for item in preds])

In [25]:
preds

array([[2.23936363e-06, 2.72204307e-06, 9.99956481e-01, 2.12872813e-05,
        8.25802174e-08, 1.36823121e-06, 1.22973048e-05, 2.43437753e-08,
        3.37040991e-06, 1.27667433e-07],
       [5.41093269e-09, 9.99998665e-01, 3.88315741e-07, 1.67135588e-07,
        1.75890656e-07, 7.01735013e-08, 2.66019821e-08, 2.16850322e-07,
        2.30254270e-07, 5.38853538e-08],
       [9.99997541e-01, 2.06131264e-08, 6.19858350e-07, 1.77407655e-07,
        7.43340552e-08, 5.61539208e-07, 3.28389631e-07, 2.29036267e-07,
        5.61493849e-08, 3.91313511e-07],
       [1.45008252e-07, 2.87245638e-08, 6.37037452e-07, 3.12080418e-07,
        9.99978222e-01, 1.74717099e-07, 1.20819731e-07, 9.76280506e-07,
        8.48253532e-07, 1.85346685e-05],
       [1.99674188e-09, 9.99998727e-01, 5.45260511e-08, 2.65439091e-08,
        5.78441902e-08, 7.42205684e-09, 3.07262386e-09, 1.00344465e-06,
        9.54110614e-08, 2.24618835e-08],
       [9.33716612e-08, 5.19932107e-07, 1.41894822e-06, 4.58352665e-06,
        9.99845906e-01, 6.17558753e-06, 5.12968468e-07, 4.70559456e-06,
        9.23574525e-05, 4.37267371e-05],
       [1.38710184e-06, 9.60202430e-06, 2.20140257e-04, 2.38895215e-04,
        2.63366576e-04, 7.26276695e-05, 6.12263162e-06, 7.27214048e-05,
        7.29657055e-05, 9.99042171e-01],
       [1.83399141e-05, 1.15548954e-05, 4.83622724e-04, 8.22286440e-05,
        3.13131452e-03, 9.10020917e-01, 8.56130748e-02, 2.26929411e-05,
        5.30758228e-04, 8.54967974e-05],
       [8.90756574e-08, 4.93773427e-08, 3.11495256e-07, 8.43143525e-07,
        2.17856710e-05, 2.30801856e-07, 1.16173668e-07, 6.40454503e-06,
        2.83620745e-06, 9.99967334e-01],
       [9.99998308e-01, 1.10581778e-08, 7.55232594e-07, 9.20516427e-08,
        4.30129154e-08, 3.27880279e-07, 7.72466712e-08, 3.32449334e-08,
        1.52245986e-07, 2.00416725e-07],
       [1.54560112e-05, 1.80119828e-07, 3.06662634e-05, 4.00670131e-06,
        3.66916191e-06, 4.45741525e-06, 9.99822860e-01, 4.99665722e-07,
        1.16837238e-04, 1.36782240e-06],
       [4.65142675e-08, 3.71500605e-08, 1.26235981e-07, 5.77669689e-07,
        3.77301328e-06, 1.79896151e-07, 5.44163152e-08, 1.93683991e-06,
        1.21880777e-06, 9.99992049e-01],
       [9.99998710e-01, 3.91049770e-09, 3.63292612e-08, 3.12085054e-08,
        6.85707077e-08, 1.69259201e-07, 2.41209497e-08, 2.38630557e-07,
        2.40217149e-07, 4.77645956e-07],
       [1.06756513e-08, 9.99997532e-01, 8.38169453e-08, 5.90352975e-07,
        9.97687833e-08, 1.63825821e-07, 3.76683416e-08, 5.78323753e-07,
        7.68560861e-07, 1.35432437e-07],
       [1.12352078e-06, 2.19625842e-06, 5.27868325e-06, 3.77133776e-04,
        1.66784502e-06, 9.99584599e-01, 7.91946512e-07, 1.62979200e-06,
        2.29740079e-05, 2.60526903e-06],
       [1.41918184e-07, 4.89827061e-08, 3.85096093e-07, 4.93242103e-07,
        1.30736259e-05, 2.53472659e-07, 1.69691891e-07, 1.35537673e-05,
        3.72149860e-06, 9.99968159e-01],
       [4.27710591e-08, 6.47482288e-09, 6.70251746e-07, 6.37340451e-06,
        3.15430549e-08, 7.88268118e-08, 6.15709473e-09, 9.99992217e-01,
        2.58596739e-08, 5.47369908e-07],
       [3.33937932e-05, 1.17324975e-05, 2.02196241e-03, 9.75864480e-01,
        1.68142493e-04, 2.11629959e-03, 1.99579344e-04, 8.54080021e-05,
        1.92647040e-02, 2.34298149e-04],
       [2.31609738e-08, 1.72173784e-08, 1.38850178e-07, 9.73835865e-08,
        9.99997569e-01, 2.11538157e-07, 2.61619289e-08, 4.98696501e-07,
        1.46549206e-07, 1.27189616e-06],
       [4.82446445e-07, 1.94006073e-07, 3.34209327e-07, 5.73282345e-06,
        1.68063340e-05, 3.22002295e-06, 1.26952750e-07, 1.77958648e-04,
        4.18776533e-06, 9.99790957e-01],
       [1.54146197e-07, 4.88754045e-08, 2.97216070e-07, 5.09109096e-07,
        7.65665048e-07, 1.02839567e-04, 9.99892303e-01, 5.29744912e-08,
        2.48441271e-06, 5.44857377e-07],
       [9.42917383e-07, 1.21606289e-06, 8.55531241e-06, 4.13302493e-06,
        1.23370755e-04, 1.44413761e-06, 9.99835645e-01, 8.83345088e-06,
        9.91579377e-06, 5.94393807e-06],
       [2.70425673e-07, 6.78203882e-08, 4.88032464e-07, 1.12618120e-06,
        8.06153995e-07, 9.99994830e-01, 8.21772772e-07, 6.13501199e-08,
        6.77313780e-07, 8.51235764e-07],
       [7.32423186e-07, 5.35683355e-07, 4.72314797e-06, 3.61098758e-06,
        9.99484865e-01, 4.56106416e-06, 9.18931464e-07, 2.07998405e-04,
        2.50867778e-06, 2.89545717e-04],
       [9.99993241e-01, 2.10157473e-08, 8.34907853e-07, 4.71693169e-08,
        7.34806651e-07, 2.89166695e-07, 3.46115458e-06, 4.40954793e-08,
        3.21979033e-07, 1.00476385e-06],
       [7.22849480e-08, 2.05588580e-08, 3.28019484e-07, 1.37516933e-06,
        4.56550820e-07, 2.27849779e-07, 1.52674947e-08, 9.99991096e-01,
        9.25666651e-08, 6.31594736e-06],
       [1.10663240e-08, 8.81153217e-09, 1.03150778e-07, 3.87012908e-08,
        9.99995259e-01, 2.16769709e-07, 1.74806323e-08, 1.06322379e-07,
        3.06373954e-07, 3.93252327e-06],
       [9.99998415e-01, 3.47114074e-09, 6.94083444e-07, 2.49271880e-07,
        1.47281131e-08, 1.44381045e-07, 8.67095255e-09, 4.88506722e-08,
        1.21889196e-07, 2.99961086e-07],
       [3.75127606e-09, 9.99998414e-01, 1.00092212e-07, 6.25041577e-07,
        8.33952990e-08, 1.50858451e-07, 1.82163560e-08, 4.00236523e-08,
        4.83695254e-07, 8.04500681e-08],
       [2.85401053e-08, 3.97495411e-08, 1.15353954e-07, 9.99993363e-01,
        1.17094376e-07, 1.06754521e-06, 2.61546254e-08, 2.01553857e-06,
        3.16777514e-07, 2.91064653e-06],
       [2.32544160e-08, 9.99986080e-01, 4.63359989e-07, 2.97913654e-06,
        8.40400936e-07, 2.68823718e-06, 6.03731341e-08, 2.30831689e-06,
        1.26527984e-06, 3.29153874e-06],
       [1.34593099e-08, 2.73866687e-08, 1.08768886e-07, 9.99996919e-01,
        3.24202292e-07, 1.29027341e-06, 1.33901972e-08, 4.92294695e-08,
        7.96911357e-07, 4.57748570e-07],
       [8.98180015e-02, 1.00269396e-05, 3.90033272e-04, 9.29979173e-06,
        8.95169821e-01, 2.07447190e-03, 1.21912580e-02, 5.86715508e-05,
        2.45578463e-04, 3.28374566e-05],
       [1.13919159e-08, 1.71337238e-08, 1.20600405e-06, 8.80362392e-07,
        5.58460909e-08, 1.93939436e-08, 1.10961774e-08, 9.99996355e-01,
        4.29243876e-07, 1.01407906e-06],
       [2.65578622e-07, 1.24719825e-06, 9.99988679e-01, 3.80486587e-06,
        1.38877293e-07, 1.05275098e-06, 3.21685333e-07, 1.45614902e-07,
        4.03963579e-06, 3.05170276e-07],
       [1.61868525e-07, 3.36183611e-07, 5.36351141e-05, 5.06668349e-06,
        5.87157035e-07, 6.43477432e-07, 1.90010925e-07, 9.99928205e-01,
        1.78563386e-06, 9.38902269e-06],
       [2.21833088e-09, 9.99999329e-01, 2.67591257e-08, 6.69611096e-08,
        5.60723273e-08, 4.17541932e-08, 4.12821260e-09, 2.04041094e-07,
        1.98799864e-07, 6.98348990e-08],
       [9.24843378e-05, 1.70010737e-04, 9.87162372e-01, 1.00439698e-02,
        1.57229067e-06, 1.56026347e-04, 7.29555798e-05, 5.84718613e-06,
        2.28521874e-03, 9.54276994e-06],
       [8.59269445e-09, 9.99993987e-01, 1.15000141e-07, 4.76342595e-07,
        1.39237323e-07, 6.58701380e-08, 3.68247620e-07, 1.71401533e-07,
        4.56782648e-06, 1.00208979e-07],
       [1.06114158e-08, 9.99996880e-01, 3.15154056e-07, 5.41665730e-07,
        4.62292057e-08, 2.43535093e-07, 4.64205367e-08, 1.50066387e-06,
        1.97859244e-07, 2.17743759e-07],
       [6.34416314e-08, 1.41452486e-07, 2.00985787e-06, 1.01843407e-05,
        3.74001073e-07, 1.75778243e-07, 6.07773698e-08, 9.99974476e-01,
        2.48413577e-07, 1.22658022e-05],
       [1.31549625e-08, 5.16698421e-08, 7.82690016e-08, 4.72540242e-07,
        9.99987693e-01, 3.64928884e-08, 4.34344187e-08, 3.32383276e-06,
        7.81045551e-07, 7.50693350e-06],
       [3.95180751e-06, 1.57422613e-04, 9.99430087e-01, 2.14284651e-04,
        7.22934021e-05, 4.78580387e-05, 2.54328314e-05, 4.80165199e-06,
        4.09267758e-05, 2.94169450e-06],
       [6.71998905e-07, 5.47667339e-06, 7.82737297e-05, 9.99438823e-01,
        1.18418071e-05, 4.22482928e-04, 4.83161799e-06, 8.56178228e-06,
        1.81461754e-05, 1.08906197e-05],
       [7.92650381e-07, 4.43615101e-08, 1.75864879e-07, 3.05544504e-05,
        1.26358748e-06, 9.99943909e-01, 2.62497855e-07, 8.41563792e-08,
        2.15258130e-05, 1.38728418e-06],
       [1.96868314e-07, 9.99635352e-01, 1.07103192e-05, 2.56337858e-04,
        7.42469338e-06, 1.57879273e-05, 5.95029962e-07, 2.79884674e-06,
        3.96475260e-05, 3.11484864e-05],
       [4.99315789e-07, 1.15023366e-06, 9.99958202e-01, 2.62407530e-06,
        4.44443275e-06, 8.13782745e-07, 2.82290231e-05, 1.24409310e-06,
        1.04055974e-06, 1.75262788e-06],
       [1.84319859e-08, 2.02163670e-08, 9.81411449e-08, 2.57143805e-07,
        9.99867743e-01, 5.61726737e-07, 1.93764730e-08, 4.18711910e-07,
        6.01718117e-06, 1.24846081e-04],
       [5.14867534e-08, 1.28030115e-08, 4.92580134e-07, 9.68215915e-08,
        9.99985845e-01, 6.05432135e-08, 7.34656421e-08, 5.52462648e-07,
        7.05531315e-07, 1.21088886e-05],
       [2.00927553e-07, 1.26138888e-08, 2.59564976e-07, 2.18528701e-07,
        9.98499735e-08, 5.31392351e-07, 9.99998549e-01, 1.18707908e-08,
        7.52199762e-08, 4.07158898e-08],
       [2.03407592e-07, 4.78598773e-08, 2.35317924e-06, 9.99983421e-01,
        3.72214280e-07, 3.11621981e-06, 3.15675917e-07, 4.78639654e-07,
        8.79885159e-06, 8.93090798e-07],
       [2.95175504e-06, 1.52598652e-07, 7.61335852e-07, 6.28334550e-06,
        8.58758933e-06, 9.99969112e-01, 4.18602455e-07, 1.06644636e-06,
        1.13705335e-06, 9.52926889e-06],
       [1.67772143e-06, 7.05665831e-07, 2.77975411e-06, 3.57499078e-04,
        9.35537977e-06, 9.99578821e-01, 1.94803614e-06, 4.00855257e-06,
        2.91773433e-05, 1.40279362e-05],
       [9.27821122e-07, 4.06100084e-07, 1.08268304e-05, 1.20954811e-06,
        2.31894061e-06, 2.68829845e-06, 9.99945057e-01, 2.15186897e-07,
        3.56094058e-05, 7.40790752e-07],
       [9.99992231e-01, 1.26893222e-08, 2.57147387e-07, 1.63719745e-07,
        7.50476035e-08, 1.44226953e-06, 1.34232708e-07, 5.53403267e-08,
        5.34334232e-06, 2.85485226e-07],
       [1.30618001e-08, 4.69732162e-09, 5.34507580e-08, 3.39719044e-08,
        9.99999085e-01, 6.26192379e-08, 3.08792219e-08, 7.00610814e-08,
        2.69508303e-07, 3.76726396e-07],
       [2.47554673e-09, 9.99999306e-01, 9.19084008e-08, 1.10052510e-07,
        3.57268982e-08, 2.03708864e-08, 4.76566268e-09, 3.14445246e-07,
        9.26268349e-08, 2.14530879e-08],
       [1.08644371e-07, 5.70767712e-08, 8.79869567e-07, 5.60760529e-07,
        1.21512263e-05, 8.02231862e-07, 1.18145876e-07, 3.08308264e-06,
        9.79449553e-07, 9.99981260e-01],
       [3.30897263e-06, 1.46354871e-06, 4.96209471e-07, 2.03244274e-06,
        2.01497806e-06, 9.99891153e-01, 2.57725531e-07, 8.82433243e-05,
        4.71308201e-06, 6.31719320e-06],
       [4.64510667e-08, 2.31570645e-08, 2.61538772e-07, 2.99527366e-05,
        9.30794464e-08, 3.60891232e-06, 4.30701852e-08, 9.99964481e-01,
        8.75070992e-08, 1.40249615e-06],
       [1.17965714e-05, 2.70180640e-06, 6.81725405e-03, 7.74400855e-05,
        2.26087017e-05, 2.99491068e-05, 4.01708074e-05, 6.90922441e-06,
        9.92861816e-01, 1.29353732e-04],
       [6.37247462e-06, 5.27875864e-06, 8.16632064e-05, 7.48664926e-05,
        2.68671672e-03, 3.05950680e-03, 1.56679903e-04, 4.60759813e-04,
        1.54406702e-03, 9.91924089e-01],
       [5.77186208e-06, 2.18074496e-05, 6.69919810e-02, 9.31238877e-01,
        2.50473036e-05, 3.58469339e-05, 1.50298059e-05, 3.90873357e-05,
        1.11028762e-03, 5.16263540e-04],
       [1.20921143e-06, 8.14769457e-07, 1.96008593e-04, 7.78738305e-04,
        3.34383219e-05, 2.63852085e-06, 1.05947446e-06, 9.98797221e-01,
        6.65786777e-05, 1.22292985e-04],
       [5.36530328e-06, 1.68525254e-05, 1.88380820e-05, 4.80295832e-04,
        9.90802993e-01, 1.48565934e-03, 8.57979506e-06, 1.54728569e-05,
        1.14417657e-04, 7.05152579e-03],
       [9.27989538e-06, 1.72941702e-06, 1.67371694e-04, 9.06088136e-05,
        8.85320425e-05, 1.00428186e-05, 9.99334682e-01, 2.54530127e-04,
        1.84503439e-05, 2.47725720e-05],
       [1.96987260e-07, 3.85706883e-07, 2.09029525e-06, 1.65251365e-06,
        9.99936748e-01, 7.83012526e-07, 5.12113112e-07, 2.85399125e-06,
        1.38771730e-06, 5.33895425e-05],
       [2.67787046e-08, 5.07749405e-08, 7.49762764e-08, 9.99991288e-01,
        3.04079860e-07, 2.53299312e-07, 6.84743966e-08, 1.77859827e-07,
        6.78874595e-06, 9.67057630e-07],
       [9.99998833e-01, 1.98479835e-08, 9.50062200e-08, 3.65794904e-08,
        2.17433335e-08, 2.85557389e-07, 3.56755956e-07, 2.23108832e-07,
        9.67808124e-08, 3.17353238e-08],
       [5.49083622e-08, 1.44758068e-08, 3.89134038e-07, 9.98828595e-06,
        4.95235868e-08, 2.09101234e-07, 1.01582411e-08, 9.99988787e-01,
        5.29895845e-08, 4.44700176e-07],
       [9.99999724e-01, 3.73833462e-09, 6.30421205e-08, 6.68156486e-09,
        1.22972656e-08, 2.40008723e-08, 3.52510542e-08, 1.05137441e-08,
        1.45115426e-08, 1.05542652e-07],
       [6.33561037e-05, 2.14964087e-07, 9.99678537e-01, 2.50566840e-04,
        7.85407252e-07, 3.36783916e-06, 5.84013667e-07, 2.85795832e-07,
        1.27712411e-06, 1.02500446e-06],
       [1.66289791e-06, 6.46596512e-06, 1.80025767e-05, 3.46160010e-05,
        1.64725569e-05, 3.52170692e-06, 7.87671992e-07, 2.11944264e-03,
        1.28204716e-03, 9.96516981e-01],
       [1.15401656e-08, 9.99995146e-01, 9.75195319e-08, 2.14698068e-07,
        3.22709176e-07, 3.03179060e-07, 3.69161156e-08, 8.87281039e-07,
        2.74681686e-06, 2.33768302e-07],
       [3.05014542e-08, 2.66339233e-07, 7.26538383e-07, 1.03805983e-05,
        3.87282376e-06, 4.22380100e-07, 5.83495309e-08, 9.99949477e-01,
        1.92696968e-06, 3.28387141e-05],
       [7.78950159e-08, 1.19855008e-07, 2.30462688e-07, 9.99995707e-01,
        1.03717796e-07, 1.62022545e-06, 4.74326722e-08, 3.20426883e-08,
        1.57894853e-06, 4.82029952e-07],
       [2.82087569e-06, 3.43279547e-05, 9.96831264e-01, 1.73320993e-05,
        7.42482601e-06, 5.29875752e-06, 5.64697598e-06, 2.60422893e-03,
        2.14650936e-05, 4.70190109e-04],
       [3.56995448e-07, 3.63536467e-06, 1.56240248e-06, 1.89457205e-05,
        2.25782034e-04, 3.21099560e-06, 7.42345356e-07, 2.42262817e-05,
        7.69844511e-04, 9.98951693e-01],
       [6.98883990e-08, 1.40592167e-08, 1.30807551e-06, 1.33124847e-06,
        4.67188413e-08, 4.89159986e-08, 1.29745607e-08, 9.99971660e-01,
        1.54674210e-06, 2.39609139e-05],
       [5.24990458e-07, 2.03078342e-07, 3.65766028e-07, 9.50369666e-07,
        9.73633550e-06, 1.73864018e-06, 7.68621353e-08, 9.99387295e-01,
        4.27861594e-07, 5.98681015e-04],
       [8.10484742e-07, 2.66641154e-07, 4.80747768e-06, 3.10430272e-07,
        4.62647946e-06, 4.37787569e-05, 9.99939181e-01, 3.47914214e-07,
        1.09903288e-06, 4.77225598e-06],
       [2.54988613e-08, 3.30994819e-08, 9.99999566e-01, 1.01945113e-07,
        3.39352487e-08, 2.03530700e-08, 3.66516720e-08, 5.26300232e-08,
        9.94717902e-08, 3.07706587e-08],
       [9.95160451e-09, 5.19762726e-09, 2.57216831e-08, 9.48616865e-08,
        1.35226943e-07, 4.60354331e-08, 7.21577871e-09, 9.99994761e-01,
        3.52808212e-08, 4.87974770e-06],
       [5.51293128e-07, 3.06824406e-07, 4.17398982e-06, 3.72891540e-06,
        4.29921374e-05, 4.52938984e-05, 2.35840684e-05, 9.05877213e-07,
        9.99873194e-01, 5.26856823e-06],
       [1.44116863e-08, 1.45989366e-08, 7.88759611e-08, 2.31380617e-07,
        9.99994312e-01, 2.45677833e-07, 7.05622235e-08, 1.42259389e-07,
        3.04231808e-06, 1.84783610e-06],
       [4.78763628e-09, 1.85072495e-08, 1.70621058e-07, 2.35263538e-07,
        1.54867389e-08, 1.60800644e-08, 4.31277821e-09, 9.99998716e-01,
        1.46709190e-07, 6.72129818e-07],
       [3.16996943e-07, 3.85173889e-07, 1.10805186e-06, 9.99931581e-01,
        8.56168467e-06, 4.72760508e-05, 7.77643133e-07, 4.88756449e-06,
        1.93253953e-06, 3.17377877e-06],
       [2.94714342e-08, 1.45253693e-08, 2.16022597e-07, 1.90615990e-08,
        2.50529033e-06, 3.62190467e-08, 9.99996830e-01, 3.63685517e-08,
        2.69330228e-07, 4.37234220e-08],
       [1.36333132e-08, 9.99995181e-01, 5.06107247e-07, 4.50328431e-07,
        4.72156762e-07, 1.17005643e-07, 1.12652287e-07, 9.86741401e-07,
        1.98275600e-06, 1.77672298e-07],
       [6.30707478e-08, 2.64574602e-08, 1.25196901e-07, 9.99989904e-01,
        7.73229362e-08, 1.12913110e-06, 2.13799713e-08, 8.75628627e-08,
        3.41466929e-06, 5.15128980e-06],
       [5.91748760e-09, 6.73713200e-09, 9.16224690e-08, 3.81480472e-08,
        2.01520630e-07, 1.17780664e-07, 9.99999291e-01, 5.37187417e-09,
        2.00754399e-07, 4.09982921e-08],
       [9.36674530e-06, 5.25371658e-05, 9.67116994e-05, 2.54850056e-04,
        1.10833382e-02, 2.55175150e-04, 3.85919271e-05, 9.94420318e-04,
        3.67529955e-03, 9.83539709e-01],
       [7.48877461e-07, 6.44076838e-07, 1.09166634e-06, 9.99759734e-01,
        1.54402734e-06, 2.73998623e-05, 2.29649456e-07, 3.21483206e-06,
        5.64986420e-06, 1.99742968e-04],
       [5.41117012e-09, 9.99976024e-01, 4.97046052e-07, 1.92266650e-07,
        5.29824581e-07, 4.26320293e-08, 7.19068331e-08, 6.88866126e-08,
        2.24582606e-05, 1.10061284e-07],
       [6.49964758e-06, 1.66336058e-06, 6.80757726e-06, 4.11417337e-06,
        9.93908161e-01, 8.24339805e-06, 7.90376105e-05, 1.35197004e-05,
        6.84606027e-04, 5.28734770e-03],
       [7.09544024e-07, 9.97938950e-01, 1.37870426e-05, 1.40854025e-03,
        4.04629494e-05, 1.78364580e-04, 1.62275890e-06, 5.60671067e-05,
        1.06372017e-04, 2.55124200e-04],
       [3.61930158e-07, 4.26441957e-06, 8.11614808e-05, 9.21992822e-05,
        2.17035208e-05, 8.66207001e-07, 7.94272262e-07, 9.99731279e-01,
        6.11671654e-05, 6.20256324e-06],
       [6.19702211e-06, 7.30550406e-07, 2.97485736e-06, 1.40646355e-07,
        2.71523494e-06, 5.32530357e-05, 9.99932836e-01, 1.14740226e-07,
        7.43590235e-07, 2.94494213e-07],
       [3.15195494e-08, 1.67815915e-08, 1.92409787e-07, 7.71102977e-07,
        1.09409144e-06, 8.25830425e-08, 4.12357954e-08, 1.08080062e-06,
        4.16175056e-07, 9.99996273e-01],
       [3.81901562e-07, 5.92837195e-07, 1.16493974e-05, 2.17907931e-07,
        5.36623418e-06, 9.95926945e-07, 9.99976213e-01, 4.47760611e-07,
        3.33284394e-06, 8.01897375e-07]])

In [26]:
# take most likely digit for each test input
preds = np.argmax(preds, axis=1)

# return in order of the indices
s = pd.Series(preds, indices)
s.index = [int(item) for item in s.index]
np.array(s.sort_index()[:100].values)

array([2, 1, 0, 4, 1, 4, 9, 5, 9, 0, 6, 9, 0, 1, 5, 9, 7, 3, 4, 9, 6, 6,
       5, 4, 0, 7, 4, 0, 1, 3, 1, 3, 4, 7, 2, 7, 1, 2, 1, 1, 7, 4, 2, 3,
       5, 1, 2, 4, 4, 6, 3, 5, 5, 6, 0, 4, 1, 9, 5, 7, 8, 9, 3, 7, 4, 6,
       4, 3, 0, 7, 0, 2, 9, 1, 7, 3, 2, 9, 7, 7, 6, 2, 7, 8, 4, 7, 3, 6,
       1, 3, 6, 9, 3, 1, 4, 1, 7, 6, 9, 6])

# Step 4: Showcase ml-commons Support

all ML-related functionality in `opensearch-py-ml` is stored in a separate client:

In [27]:
ml_client = MLCommonClient(client)

In [28]:
ml_client.put_model("sentence_transformer3.zip", "sentence_transformer", 1, verbose=True)

uploading chunk 1 of 47
uploading chunk 2 of 47
uploading chunk 3 of 47
uploading chunk 4 of 47
uploading chunk 5 of 47
uploading chunk 6 of 47
uploading chunk 7 of 47
uploading chunk 8 of 47
uploading chunk 9 of 47
uploading chunk 10 of 47
uploading chunk 11 of 47
uploading chunk 12 of 47
uploading chunk 13 of 47
uploading chunk 14 of 47
uploading chunk 15 of 47
uploading chunk 16 of 47
uploading chunk 17 of 47
uploading chunk 18 of 47
uploading chunk 19 of 47
uploading chunk 20 of 47
uploading chunk 21 of 47
uploading chunk 22 of 47
uploading chunk 23 of 47
uploading chunk 24 of 47
uploading chunk 25 of 47
uploading chunk 26 of 47
uploading chunk 27 of 47
uploading chunk 28 of 47
uploading chunk 29 of 47
uploading chunk 30 of 47
uploading chunk 31 of 47
uploading chunk 32 of 47
uploading chunk 33 of 47
uploading chunk 34 of 47
uploading chunk 35 of 47
uploading chunk 36 of 47
uploading chunk 37 of 47
uploading chunk 38 of 47
uploading chunk 39 of 47
uploading chunk 40 of 47
uploading chunk 41 of 47
uploading chunk 42 of 47
uploading chunk 43 of 47
uploading chunk 44 of 47
uploading chunk 45 of 47
uploading chunk 46 of 47
uploading chunk 47 of 47